<!-- VISION -->

<body class="bg-gray-300">
  <section class="py-5 bg-gradient-dark position-relative" style="background-image:url(../assets/material/img/bg5.jpg)">
    <span class="mask bg-gradient-dark opacity-8"></span>
    <div class="container position-relative z-index-2">
      <div class="row">
        <div class="col-lg-5 col-md-8 m-auto text-start">
          <h5 class="text-white mb-lg-0 mb-5">
            It's Never too Late for a new beginning ! Come Join Us !
          </h5>
        </div>
        <div class="col-lg-6 m-auto">
          <div class="row">
            <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
              <!-- <button type="button" class="btn bg-gradient-info mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block">Start Now</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Start vision and notification -->
<div class="card card-body shadow-xl mx-3 mx-md-4 "
  style="overflow-y: hidden">
  <section class="pt-3 pb-4" id="count-stats">

    <section class="py-7">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 order-2 order-md-2 order-lg-1">
            <div class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
              <div class="bg-gradient-info w-100 h-100 border-radius-xl position-absolute" alt=""></div>
              <img src="/assets/material/img/icthall.png" class="w-100 border-radius-xl mt-6 ms-5 position-absolute" alt="">
            </div>
          </div>
          <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
            <div class="p-3 pt-0">
                <div class="icon icon-shape bg-gradient-info rounded-circle shadow text-center mb-4">
                  <i class="ni ni-building"></i>
                </div>
                <h4 class="text-gradient text-info mb-0">Social Conversations</h4>
                <h4 class="mb-4">Every Moment is a Fresh Beginning !</h4>
                <p>ICT Academy was officially inaugurated by Chief Minister of Kerala Mr. Oommen Chandy on 24 June 2014 at a function held in Thiruvananthapuram in the presence of Education Minister P.K. Abdu Rabb, Additional Chief Secretary V. Somasundaram, and Higher Education Principal Secretary K.M. Abraham. <br><br> The Chief Minister also released the logo of the ICT Academy and Education Minister P.K. Abdu Rabb launched the academy’s website and learning management system called ‘Paatshala’.</p>
              </div>
          </div>
        </div>
        <div class="row mt-0 mt-md-5 mt-lg-8">
          <div class="col-lg-5 col-md-12 me-auto">
            <div class="p-3 pt-0">
                <div class="icon icon-shape bg-gradient-warning rounded-circle shadow text-center mb-4">
                  <i class="fas fa-trophy"></i>
                </div>
                <h4 class="text-gradient text-warning mb-0">Our New Office Inaguration</h4>
                <h4 class="mb-4">Stand Up for Every Move !</h4>
                <p>They say with a new workplace, comes new energy, new excitement &amp; most of all, a greater responsibility. Indeed, that is true. We embarked on a new Journey by having an Inauguration Ceremony of our office newly located at Thejaswini, TechnoPark, Trivandrum.<br><br>  With more than 50 leaders in the Industry witnessed the Grand opening ceremony of our office. We thank you for all for the good wishes that you showered on us. Also, we are grateful to all who marked their presence at the Inauguration Ceremony !</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-8">
            <div class="position-relative ms-md-5 d-none d-md-block d-lg-block d-xl-block h-75">
              <div class="w-100 h-100 bg-gradient-warning border-radius-xl position-absolute" alt=""></div>
              <img src="/assets/material/img/ictaku.png" class="w-100 border-radius-xl mt-6 ms-n5 position-absolute" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    



  </section>

</div>