<section class="container">
<div class="container py-2">
	<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">INDUSTRIAL PARTNERS</div>
<div class="logo-slider">
	<div class="logo-slide-track">
		<div class="slide mb-7" *ngFor="let i of industrials">
			<img src="api/{{ i.image }}" [style.height.px] ='imageHeight' [style.width.px] ='imageWidth'
            [style.margin.px] ='imageMargin' alt="" />
		</div>
	</div>
</div>
</div>
</div>
<!-- START Project section w/ 3 images & quote & text -->

	<div class="container">
	  <div class="row mb-5">
		<div class="col-lg-8 text-center mx-auto">
		  <p class="mb-1 text-success text-uppercase font-weight-bold">Our Office</p>
		  <h3>Come Walk With Us Through Our Journey...</h3>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-6 position-relative">
		  <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover"
		   src="/assets/material/img/tech.jpg">
  
		  <p class="blockquote border border-success rounded w-50 p-3 text-sm text-success float-md-end mx-auto mt-4 me-md-n2">
			  "When the world faced a grave crisis during the Covid times, over 500 students were made job ready through the new gen courses conducted by ICT Academy in association with NORKA Roots."
			<br>
			<br>
			<small>-ICTAK</small>
		  </p>
  
		</div>
		<div class="col-md-5">
		  <!-- First image on the right side, above the article -->
		  <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" src="/assets/material/img/tech12.jpg">
		  <div class="px-4">
			<p class="text-gradient text-success">CEO</p>
			<h3 class="mb-4">Santhosh Kurup</h3>
			<p>
				"We are a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry."			</p>
		  </div>
		</div>
	  </div>
	  <div class="row mt-5">
		<div class="col-md-6 position-relative">
		  <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover"
		   src="/assets/material/img/tech5.jpg">
		  <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">
			  "A Kerala Development and Innovation Strategic Council (K-DISC) initiative, the Kerala Knowledge Economy mission (KKEM), aims to provide employment to the educated by transforming the State of Kerala into a Knowledge Society, which will produce, consume and transact knowledge for its own social and economic development."
			<br>
			<br>
			<small>-KKEM</small>
		  </p>
  
		</div>
		<div class="col-md-5">
		  <!-- First image on the right side, above the article -->
		  <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" 
		  src="/assets/material/img/tech4.jpg">
		  <div class="px-4">
			<p class="text-gradient text-primary">Chairman</p>
			<h3 class="mb-4">Tony Thomas</h3>
			<p>
				“ICT Academy is a great example of not-for-profit partnership between Government, Academia and Industry, to bridge the current skills gap. I am excited to volunteer to be part of this opportunity to help develop the next generation along with other eminent leaders of the Board and the team of ICT Academy. We shall strive to create an impact that will benefit the Educators, Students, Industry and the Community at large”.			</p>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- END Project section w/ 3 images & quote & text -->